DEVELOPMENT=true
BOT_TOKEN=YOUR_BOT_TOKEN
GUILD_ID=YOUR_GUILD_ID
CLIENT_ID=YOUR_BOT_CLIENT_ID
MONGODB_URI=mongodb+srv://username:Password@localhost:27017/discord?retryWrites=true&w=majority

# For Development/Testing (should be a different bot)
TEST_CLIENT_ID=YOUR_TEST_CLIENT_ID
TEST_TOKEN=YOUR_TEST_BOT_TOKEN